$color-primary: #3C6CBB;
$color-grey: #666;
$color-error: #DB0808;
$color-black: #222;
$color-disable: #888;
$color-border: #eee;
$color-placeholder: #aaa;
$color-white: #fff;

$shadow: 0px 1px 13px rgba(0, 0, 0, 0.09);