/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.btn-wrap.mg-t {
  margin-top: 40px;
}
.btn-wrap small {
  font-size: 12px;
  color: #888;
  display: block;
  margin-bottom: 10px;
  text-align: center;
}
.btn-wrap .btn {
  display: block;
  width: 100%;
  border: 1px solid #3C6CBB;
  background-color: #3C6CBB;
  color: #fff;
  font-weight: 500;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
.btn-wrap .btn a {
  color: inherit;
  text-decoration: none;
}
.btn-wrap .btn:focus {
  outline: none;
}
.btn-wrap .btn.line {
  background-color: #fff;
  border-color: #888;
  color: #888;
  font-weight: 400;
}
.btn-wrap .btn.disable {
  background-color: #ccc;
  border-color: #ccc;
  color: #fff;
}
.btn-wrap .btn + .btn {
  margin-top: 7px;
}
.btn-wrap.flex {
  display: flex;
}
.btn-wrap.flex .btn + .btn {
  margin-left: 5px;
  margin-top: 0px;
}

.input-wrap {
  position: relative;
}
.input-wrap input[type=text],
.input-wrap input[type=password],
.input-wrap select {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  padding: 15px 0;
  font-size: 16px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.input-wrap input[type=text]:focus,
.input-wrap input[type=password]:focus,
.input-wrap select:focus {
  border-color: #666;
}
.input-wrap select {
  background: url("/huesik/public/image/icon-select-arrow.png") no-repeat center right/12px 6px;
}
.input-wrap .input-status {
  font-size: 12px;
  margin-top: 4px;
  display: none;
  color: #666;
}
.input-wrap .input-status.error {
  color: #DB0808;
}
.input-wrap .input-txt {
  position: absolute;
  right: 0;
  top: 16px;
  font-size: 14px;
  color: #3C6CBB;
  font-weight: bold;
}
.input-wrap .input-icon {
  position: absolute;
  right: 0;
  top: 14px;
}
.input-wrap .input-icon img {
  width: 24px;
  height: 24px;
}
.input-wrap.on input[type=text],
.input-wrap.on input[type=password] {
  border-color: #DB0808;
}
.input-wrap.on .input-status {
  display: block;
}

.input-wrap + .input-wrap {
  margin-top: 15px;
}

.custom-checkbox {
  position: relative;
}
.custom-checkbox .label-txt {
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custom-checkbox .label-txt small {
  font-size: 14px;
  font-weight: 400;
  color: #888;
}
.custom-checkbox .label-txt .btn {
  background-color: transparent;
  border-radius: 0;
  border: none;
  outline: none;
  font-size: 14px;
  color: #888;
  text-decoration: underline;
  font-weight: 400;
  box-shadow: none;
}
.custom-checkbox input[type=checkbox] {
  width: 0;
  height: 0;
  opacity: 0;
  position: relative;
  left: 0;
  top: 0;
  z-index: 10000;
  cursor: pointer;
}
.custom-checkbox input[type=checkbox] + label {
  display: inline-block;
  position: absolute;
  left: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 15px;
  width: 100%;
}
.custom-checkbox input[type=checkbox]:checked + label:after {
  content: "";
  display: inline-block;
  border-right: 1.5px solid #3C6CBB;
  border-bottom: 1.5px solid #3C6CBB;
  width: 7px;
  height: 14px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.custom-checkbox input[type=checkbox] + label:before {
  content: " ";
  display: inline-block;
  width: 7px;
  height: 14px;
  border-right: 1.5px solid #888;
  border-bottom: 1.5px solid #888;
  line-height: 3px;
  font-size: 17px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.check-all {
  padding: 0 20px;
  height: 45px;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
}
.check-all.on {
  background-color: #F5F8FC;
}
.check-all .custom-checkbox {
  width: 100%;
  position: relative;
}
.check-all .custom-checkbox .label-txt {
  display: block;
  padding-left: 35px;
}
.check-all .custom-checkbox .label-txt small {
  font-size: 14px;
  color: #222;
  font-weight: 500;
}
.check-all .custom-checkbox input[type=checkbox] {
  width: 0;
  height: 0;
  opacity: 0;
  position: relative;
  left: 0;
  top: 0;
  z-index: 10000;
  cursor: pointer;
}
.check-all .custom-checkbox input[type=checkbox] + label {
  display: inline-block;
  position: absolute;
  left: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 14px;
  width: 100%;
}
.check-all .custom-checkbox input[type=checkbox]:checked + label:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/huesik/public/image/icon-register3-active.png") no-repeat center/contain;
  border: none;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #3C6CBB;
}
.check-all .custom-checkbox input[type=checkbox] + label:before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  background: url("/huesik/public/image/icon-register3.png") no-repeat center/contain;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
}
.check-all .custom-checkbox input[type=checkbox]:checked + label .label-txt small {
  color: #3C6CBB;
}

.check-lists {
  padding: 15px 0 10px 25px;
  margin-bottom: 40px;
}
.check-lists li + li {
  margin-top: 12px;
}

body {
  max-width: 778px;
  margin: 0 auto !important;
}

body, a {
  font-family: "Noto Sans KR", sans-serif;
  color: #222;
}

.hidden {
  display: none !important;
}

.visible {
  display: block !important;
}

nav {
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 100%;
  max-width: 778px;
  transform: translateX(-50%);
  background-color: #fff;
  z-index: 50;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
}
nav ul li {
  flex: 1;
}
nav ul li small {
  font-size: 10px;
  display: block;
  margin-top: 2px;
  color: #888;
}
nav ul li img {
  max-height: 28px;
}
nav ul li.on small {
  color: #3C6CBB;
}

.inr {
  width: 100%;
  padding: 0 16px;
  position: relative;
}
.inr.login {
  padding: 0 38px;
}

.modal .modal-dialog {
  position: absolute;
  width: 320px;
  background: #FFFFFF;
  box-shadow: 0px 4px 14px 5px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  margin: 10px;
  top: 50%;
  left: 50%;
  max-width: 320px;
  transform: translate(-50%, -50%) !important;
}
.modal .modal-content {
  padding-bottom: 20px;
}
.modal .modal-header {
  border: none;
  padding: 22px 20px;
}
.modal .modal-header .modal-title {
  font-size: 16px;
  font-weight: 700;
}
.modal .modal-header .close {
  float: right;
  font-size: 21px;
  font-weight: 400;
  line-height: 1;
  color: #000;
  opacity: 1;
}
.modal .modal-body {
  position: relative;
  padding: 15px;
  max-height: 260px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.modal .modal-body p, .modal .modal-body dt, .modal .modal-body dd {
  font-size: 14px;
  color: #444;
  margin-bottom: 20px;
}
.modal .modal-body dt {
  margin-bottom: 10px;
}
.modal .modal-body dl + dl {
  margin-top: 10px;
}
.modal .modal-body .customer-lists li {
  display: flex;
  line-height: 1.5;
  font-size: 14px;
}
.modal .modal-body .customer-lists li figure {
  margin-right: 10px;
}
.modal .modal-body .customer-lists li img {
  width: 24px;
  height: 24px;
}
.modal .modal-body .customer-lists li + li {
  margin-top: 5px;
}
.modal .modal-body .customer-txt {
  margin-top: 30px;
  line-height: 1.5;
  font-size: 14px;
}
.modal .modal-backdrop.in {
  opacity: 0.3;
}
.modal .modal-footer {
  padding-bottom: 0;
  border: none;
}
.modal .btn {
  padding: 10px;
}

main#login {
  padding: 64px 0 100px;
}

.login-txt {
  margin-bottom: 60px;
}
.login-txt img {
  max-height: 45px;
}
.login-txt h1 {
  margin-top: 15px;
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  font-weight: 500;
}

.tab-lists {
  border-bottom: 1px solid #eee;
  display: flex;
  margin-bottom: 20px;
}
.tab-lists .tab-list {
  padding: 0 15px 10px 15px;
  font-size: 16px;
  color: #888;
  border-bottom: 1px solid transparent;
}
.tab-lists .tab-list a {
  text-decoration: none;
  color: inherit;
}
.tab-lists .tab-list.on {
  border-color: #3C6CBB;
}
.tab-lists .tab-list.on a {
  color: #3C6CBB;
  font-weight: bold;
}

.find-trigger-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 40px;
}
.find-trigger-wrap .find-trigger {
  margin-top: 8px;
}
.find-trigger-wrap .find-trigger a {
  font-size: 14px;
  color: #aaa;
  text-decoration: underline;
}

.inquiry-trigger-wrap {
  margin-top: 30px;
  text-align: center;
}
.inquiry-trigger-wrap .inquiry-trigger {
  font-size: 12px;
  color: #aaa;
  text-decoration: underline;
  background: none;
  border: none;
}

.register-extra-info {
  margin-top: 25px;
  margin-bottom: 30px;
}
.register-extra-info small {
  font-size: 14px;
  color: #444;
  margin-bottom: 10px;
  display: block;
  font-weight: 500;
}

.register-agreement .register-summary-lists {
  background-color: #F7F7F7;
  border-radius: 4px;
  display: flex;
  padding: 18px 0;
}
.register-agreement .register-summary-lists li {
  flex: 1;
  text-align: center;
}
.register-agreement .register-summary-lists li img {
  width: 24px;
  height: 24px;
  margin: 0 auto 10px auto;
}
.register-agreement .register-summary-lists li small {
  font-size: 10px;
  color: #3C6CBB;
  font-weight: 700;
}
.register-agreement .register-summary-lists li strong {
  font-size: 11px;
}
.register-agreement .register-summary-lists li img {
  width: 24px;
  height: 24px;
  margin: 0 auto 10px auto;
}
.register-agreement .register-summary-lists li small {
  font-size: 10px;
  color: #3C6CBB;
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
}
.register-agreement .register-summary-lists li strong {
  font-size: 12px;
  display: block;
  font-weight: 400;
}
.register-agreement .agreement-wrap {
  margin-top: 25px;
}
.register-agreement .agreement-wrap strong {
  font-size: 14px;
  color: #444;
  display: block;
  margin-bottom: 10px;
}

header .inr {
  display: flex;
  align-items: center;
  height: 55px;
}
header .prev {
  margin-right: 10px;
}
header .prev img {
  width: 24px;
  height: 24px;
}

#sub {
  padding: 30px 0 100px 0;
}

.find-account h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #444;
  margin-bottom: 35px;
}
.find-account strong {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
  display: block;
}
.find-account .find-lists li {
  border-radius: 4px;
  background-color: #f7f7f7;
  position: relative;
  padding: 13.5px 16px 13.5px 10px;
}
.find-account .find-lists li a {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #222;
}
.find-account .find-lists li figure {
  margin-right: 5px;
}
.find-account .find-lists li img {
  width: 28px;
  height: 28px;
}
.find-account .find-lists li::after {
  content: "";
  width: 12px;
  height: 6px;
  background: url("/huesik/public/image/icon-select-arrow.png") no-repeat center/12px 6px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
}
.find-account .find-lists li + li {
  margin-top: 15px;
}
.find-account .customer-txt {
  margin-top: 55px;
  font-size: 12px;
  color: #444;
}
.find-account .customer-txt dt {
  font-weight: 400;
  margin-bottom: 20px;
}
.find-account .customer-txt dd {
  font-weight: 700;
  margin-top: 15px;
}
.find-account .findId-result {
  margin-top: 20px;
  color: #3C6CBB;
  font-weight: 700;
  text-decoration: underline;
  display: block;
}/*# sourceMappingURL=app.css.map */